.home-container {
    width: clamp(400px, 90%, 1400px);
}

header {
    z-index: 10;
    height: 100px;
    border-bottom: 2px solid var(--white-color-1);
}

.logo-nad-menu {
    gap: 20px;
}

.menu-bx .bx {
    font-size: 45px;
    color: var(--text-color-1);
    cursor: pointer;
}

.head-elements{
    gap: 20px;
    color: var(--text-color-1);
    font-size: 20px;
}

.head-elements a{
    color: var(--text-color-1);
    transition: 0.3s ease;
    &:hover{
        transform: translateY(-5px);
        color: var(--red-color-1);
    }
}